name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  windows_build:
    name: Windows Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true
          fetch-depth: 0
      - name: 'Install NSIS'
        uses: repolevedavaj/install-nsis@v1.0.3
        with:
            nsis-version: '3.11'
      - name: Compile
        run: |
          mkdir build
          cmake -S . -B build -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -Wno-dev
          cmake --build build --config Release --target package
      - name: 'Upload Windows Installer'
        uses: actions/upload-artifact@v4
        with:
          name: 'Windows Installer'
          path: build/_CPack_Packages/win64/NSIS/*.exe
  mac_build:
    name: MacOS Build
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true
          fetch-depth: 0
      - name: Compile
        run: |
          mkdir build
          cmake -S . -B build -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -Wno-dev
          cmake --build build --config Release --target package
      - name: 'Upload OSX Installer'
        uses: actions/upload-artifact@v4
        with:
          name: 'OSX dmg package'
          path: build/_CPack_Packages/OSX/DragNDrop/*.dmg
  ubuntu_22_04_build:
    name: Ubuntu 22.04 Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true
          fetch-depth: 0
      - name: Compile
        run: |
          mkdir build
          sudo apt update
          sudo apt install libasound2-dev libjack-jackd2-dev ladspa-sdk libcurl4-openssl-dev libfreetype6-dev libx11-dev libxcomposite-dev libxcursor-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libwebkit2gtk-4.0-dev libglu1-mesa-dev mesa-common-dev
          cmake -S . -B build -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -Wno-dev
          cmake --build build --config Release
          cd build
          cpack -G DEB
      - name: 'Upload Ubuntu 22.04 deb package'
        uses: actions/upload-artifact@v4
        with:
          name: 'Ubuntu 22.04 deb package'
          path: build/_CPack_Packages/Linux/DEB/*.deb
  ubuntu_24_04_build:
    name: Ubuntu 24.04 Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true
          fetch-depth: 0
      - name: Compile
        run: |
          mkdir build
          sudo apt update
          sudo apt install libasound2-dev libjack-jackd2-dev ladspa-sdk libcurl4-openssl-dev libfreetype-dev libfontconfig1-dev libx11-dev libxcomposite-dev libxcursor-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libglu1-mesa-dev mesa-common-dev git cmake
          cmake -S . -B build -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -Wno-dev
          cmake --build build --config Release
          cd build
          cpack -G DEB
      - name: 'Upload Ubuntu 24.04 deb package'
        uses: actions/upload-artifact@v4
        with:
          name: 'Ubuntu 24.04 deb package'
          path: build/_CPack_Packages/Linux/DEB/*.deb
